body {
    font-family: Arial, sans-serif;
}

.main-title {
    color: #d60000;
    font-weight: bold;
}

.feature-list {
    margin-top: 10px;
}

.feature-list li {
    margin-bottom: 6px;
}

.contact-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background: #fff;
}

.contact-title {
    background: #d60000;
    color: white;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-radius: 8px 8px 0 0;
    text-align: center;
}
.custom-navbar {
    background: linear-gradient(90deg,#d60000,#ff2b2b);
}

.custom-navbar .nav-link {
    color: white !important;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 20px;
    transition: 0.3s;
}

/* hover */
.custom-navbar .nav-link:hover {
   text-decoration: underline;
  color:blueviolet;   /* same color, no change */
}

/* active */
.custom-navbar .nav-link.active {
text-decoration: underline;
  color: #333;   /* same color, no change */
    font-weight: bold;
}
.custom-navbar button:hover {
    background: white;
    color: #d60000 !important;
}

.custom-navbar button {
    color: red !important;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 20px;
    transition: 0.3s;
}
body{
  margin:0;
  font-family: Arial, sans-serif;
}

/* Trial Section */
.trial-section{
  background:red;
  padding:50px 10%;
}

.trial-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.trial-content h1{
  color:white;
  font-size:32px;
}

.trial-content button{
  background:white;
  color:red;
  border:none;
  padding:12px 30px;
  border-radius:30px;
  font-size:16px;
  cursor:pointer;
}

/* Trust Section */
.trust-section{
  text-align:center;
  padding:60px 10%;
}

.trust-section h2{
  color:red;
  font-size:28px;
}

.trust-section p{
  color:#777;
  max-width:700px;
  margin:20px auto;
}

.stats{
    display:flex;
    justify-content:space-around;
    align-items:center;
    text-align:center;
    padding:40px 0;
    background:white;
}

.stat-item img{
    height:80px;
    width:auto;
    margin-bottom:10px;
}

.stat-item h3{
    font-size:28px;
    color:#000;
    margin:5px 0;
}

.stat-item span{
    font-size:16px;
    color:gray;
}
.box-item{
  margin-top: 50px;
  width: 100%;
  margin-top: 20px;
  height: 300px;
  background-color: white;
  padding-left: 150px;
  padding-right: 150px;
  overflow: hidden;
}

/* Desktop default */
.box-1{
  margin-top: 40px;
  padding: 10px;
  margin-left: 50px;
  height: 200px;
  width: 27%;
  float: left;
  transition: transform 0.4s ease;
  box-shadow: 0 0 12px rgba(220,53,69,0.7);
  background-color: white;
  border-radius: 10px;
}

/* Hover */
.box-1:hover{
  transform: scale(1.1);
}

/* Tablet */
@media (max-width: 992px){
  .box-item{
    padding-left: 80px;
    padding-right: 80px;
  }

  .box-1{
    width: 45%;
    margin-left: 20px;
  }
}

/* Mobile */
@media (max-width: 576px){
  .box-item{
    padding-left: 20px;
    padding-right: 20px;
  }

  .box-1{
    width: 100%;
    margin-left: 0;
  }
}
.color li{
  color: red;
  list-style: none;
}
.info-section{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-family: Arial, sans-serif;
}

.info-section h3{
  color: red;
  margin-bottom: 10px;
}

.info-section ul{
  padding-left: 18px;
}

.info-section ul li{
  color: #666;
  line-height: 1.8;
  font-size: 15px;
}

.terms, .addons{
  width: 50%;
}
.footer{
  background: #ff4d4d; ;
  border-top:1px solid #ddd;
  padding:60px 0;
  float: left;
  font-family: Arial, sans-serif;
}

.footer-container{
  width:85%;
  margin:auto;
  display:flex;
  justify-content:space-between;
  gap:40px;
}

.footer-about{
  width:30%;
}

.footer-logo{
  width:160px;
  margin-bottom:15px;
}

.footer-about p{
  color:white;
  line-height:1.7;
  font-size:14px;
}

.footer-col h4{
  color:white;
  font-weight: bold;
  margin-bottom:10px;
  font-size:16px;
}

.footer-col ul{
  list-style:none;
  padding:0;
}

.footer-col ul li{
  color:white;
  font-size:14px;
  line-height:1.9;
  cursor:pointer;
}

.footer-col ul li:hover{
  color:white;
}

.mt{
  margin-top:20px;
}
